# K-means clustering met de Titanic dataset
De Titanic dataset bevat data over alle passagiers van de titanic, die gezonken is. 
De data bevat ook informatie over wie het ongeluk wel en niet overleefd heeft (kolom 'survived')

importeer pandas

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.cluster import KMeans

importeer de data vanuit een excelbestand

In [2]:
data = pd.read_excel('titanic3.xls')

target = data['survived']
names = data['name']
del data['survived']
del data['name']
del data['home.dest']
del data['ticket']
del data['cabin']

Bekijk de dataset even

In [16]:
data.head()
#data.keys()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pclass</th>
      <th>sex</th>
      <th>age</th>
      <th>sibsp</th>
      <th>parch</th>
      <th>fare</th>
      <th>embarked</th>
      <th>boat</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>female</td>
      <td>29.0000</td>
      <td>0</td>
      <td>0</td>
      <td>211.3375</td>
      <td>S</td>
      <td>2</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>male</td>
      <td>0.9167</td>
      <td>1</td>
      <td>2</td>
      <td>151.5500</td>
      <td>S</td>
      <td>11</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>female</td>
      <td>2.0000</td>
      <td>1</td>
      <td>2</td>
      <td>151.5500</td>
      <td>S</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>male</td>
      <td>30.0000</td>
      <td>1</td>
      <td>2</td>
      <td>151.5500</td>
      <td>S</td>
      <td>NaN</td>
      <td>135.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>female</td>
      <td>25.0000</td>
      <td>1</td>
      <td>2</td>
      <td>151.5500</td>
      <td>S</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
kmeans = KMeans(n_clusters=2)

maak factoren van de categorieÃ«n

In [4]:
data['fare'] = data['fare'].factorize()[0]
data['embarked'] = data['embarked'].factorize()[0]
data['boat'] = data['boat'].factorize()[0]
data['body'] = data['body'].factorize()[0]

In [5]:
le = preprocessing.LabelEncoder()

data['sex'] = le.fit_transform(data['sex'])
data['embarked'] = le.fit_transform(data['embarked'])
data['boat'] = le.fit_transform(data['boat'])

vervang de missende leeftijden voor een -1

In [6]:
data['age'] = data['age'].replace('NaN',-1)

# data[data['age'] == 1]

schaal de data

In [28]:
# pd.to_numeric(data['boat'], errors='coerce')
data = preprocessing.scale(data)

fit het K-Means clustering model

In [29]:
kmeans.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

bereken hoe goed je model werkt door de voorspelde overlevenden met de eigenlijke overlevenden (target) te vergelijken.

In [30]:
correct = 0
for i in range(len(data)):
    if kmeans.labels_[i] == target[i]:
        correct += 1

print(correct/len(data))

0.3605805958747135